.store-info{
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  .store-avatar{
    margin-left: 5px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }
  .store-name {
    padding-left: 10px;
  }
  p, h1{
    padding-top: 10px;
    margin: 0;
  }
}
.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  img:focus{
    opacity: 0.5;
  }
}