<ion-header>
  <ion-toolbar color="dark">
<!--    <ion-buttons slot="start">-->
<!--      <ion-icon name="arrow-back-outline" style="margin-left: 10px; height: 20px; width: 20px" (click)="back()"></ion-icon>-->
<!--    </ion-buttons>-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Store</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="check">
    <h1 class="ion-text-center">Create A Store Now !</h1>
    <ion-item >
      <ion-label>Category</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="category">
        <ion-select-option value="Cosmetics">Cosmetics</ion-select-option>
        <ion-select-option value="Electronics">Electronics</ion-select-option>
        <ion-select-option value="Glasses">Glasses</ion-select-option>
        <ion-select-option value="Music">Music</ion-select-option>
        <ion-select-option value="Outfit">Outfit</ion-select-option>
        <ion-select-option value="Books">Books</ion-select-option>
        <ion-select-option value="Bags">Bags</ion-select-option>
        <ion-select-option value="Shoes">Shoes</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Store Name" [(ngModel)]="storeName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Stripe Private Key" [(ngModel)]="stripeKey"></ion-input>
    </ion-item>
    <ion-item>
      <input type="file" id="upload" (change)="uploadImage($event)">
    </ion-item>

    <ion-button color="primary" expand="full" (click)="buyStore()">Buy store</ion-button>
  </div>
  <div *ngIf="!check">
    <div class="store-info">
      <img src="assets/default.png" class="store-avatar" *ngIf="!imageCheck">
      <img [src]="imageUrl" class="store-avatar" *ngIf="imageCheck">
      <h1 class="store-name"> {{ storeData?.name }}</h1>
      <p class="store-category">{{ storeData?.category }}</p>
    </div>
    <div class="actions">
      <ion-button color="primary" expand="full">Edit Store</ion-button>
      <ion-button color="primary" expand="full" (click)="addProduct()">Add Product</ion-button>
    </div>
    <div class="products" >
      <img [src]="this.post.image" *ngFor="let post of posts" (click)="details(post.id)">
    </div>
  </div>
</ion-content>
