<ion-tabs #tabs>
  <ion-tab-bar slot="bottom" color="dark">
    
    <ion-tab-button (click)="homePage()">
      <ion-icon name="home-outline"></ion-icon>        
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="searchPage()">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="cartPage()">
      <ion-icon name="cart-outline"></ion-icon>      
      <ion-label>Cart</ion-label>
  </ion-tab-button>

  <ion-tab-button (click)="accountPage()">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-label>Account</ion-label>
  </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
