.cart-card {
  display: flex;
  width: 95vw;
  height: 120px;
  margin: 10px auto;
  box-shadow: rgba(13, 13, 13, 0.27) 0.1px 0.1px 10px;
  border-radius: 20px;
  overflow: hidden;
  justify-content: space-between;
  img {
    height: 120px;
    width: 120px;
  }
  .product-info{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    p{
      line-height: 25px;
      margin: 0;
      margin-left: 10px;

    }
    .product-name {
      margin-top: 5px;
      font-size: 20px;
      color: #383a3e;
    }
    .product-price{
      margin: 0;
      margin-left: 10px;
      font-size: 12px;
      span {
        font-size: 15px;
        padding-left: 10px;
        font-weight: bold;
        color: #00ad45c7;
      }
    }
  }
  .counter {
    background-color: #222428;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 30px;
    ion-button{
      height: 30px;
      width: 60px;
    }

  }
  .delete {
    margin: -5px;
    height: 130px;
    width: 50px;
  }
}
