<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="cart-card" *ngFor="let product of items">
    <img [src]="product.item.image">
    <div class="product-info">
      <p class="product-name">{{product.item.name}}</p>
      <p class="product-price">Price:<span>{{product.item.price}}</span></p>
      <div class="counter">
        <ion-button color="dark" (click)="changeQuantity(product, 'decrease')">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
        <p>{{product.quantity}}</p>
        <ion-button color="dark" (click)="changeQuantity(product, 'increase')">
          <ion-icon name="add-circle-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
    <ion-button class="delete" color="danger" style="border-radius: 0 !important" (click)="delItem(product)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
