<ion-header>
  <ion-toolbar color="dark">
<!--    <ion-buttons slot="start">-->
<!--      <ion-icon name="arrow-back-outline" style="margin-left: 10px; height: 20px; width: 20px" (click)="back()"></ion-icon>-->
<!--    </ion-buttons>-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">Product Name</ion-label>
    <ion-input type="text" [(ngModel)]="name" value="{{name}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input type="text" [(ngModel)]="description" value="{{description}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input type="number" [(ngModel)]="price" value="{{price}}"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Discount</ion-label>
    <ion-input type="number" [(ngModel)]="discount" value="{{discount}}"></ion-input>
  </ion-item>

<!--  <ion-item>-->
<!--    <input type="file" (change)="uploadImage($event)">-->
<!--  </ion-item>-->

  <ion-item>
    <div class="container">
      <div class="avatar-upload">
        <div class="avatar-edit">
          <input type='file' id="imageUpload" (change)="readURL($event)"/>
          <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
          <div id="imagePreview" style="background-image: url('./assets/shapes.svg');">
          </div>
        </div>
      </div>
    </div>
  </ion-item>

  <ion-button color="primary" expand="full" (click)="addProduct()">Add Product</ion-button>

</ion-content>
