<ion-header>
  <ion-toolbar color="dark">
<!--    <ion-buttons slot="start">-->
<!--      <ion-icon name="arrow-back-outline" style="margin-left: 10px; height: 20px; width: 20px" (click)="back()"></ion-icon>-->
<!--    </ion-buttons>-->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">username</ion-label>
    <ion-input type="text" [(ngModel)]="name" value="{{name}}"></ion-input>
  </ion-item>
<!--  <ion-item>-->
<!--&lt;!&ndash;    <input type="file" (change)="uploadImage($event)">&ndash;&gt;-->
<!--  </ion-item>-->

  <ion-item>
    <div class="container">
      <div class="avatar-upload">
        <div class="avatar-edit">
          <input type='file' id="imageUpload" (change)="readURL($event)"/>
          <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
          <div id="imagePreview" style="background-image: url('./assets/default.png');">
          </div>
        </div>
      </div>
    </div>
  </ion-item>
  <ion-button expand="full" class="ion-margin" (click)="update()">update</ion-button>
</ion-content>

