<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="post">
    <div class="post-owner">
      <img [src]="owner?.storeImage" class="post-owner-avatar">
      <ion-text class="post-owner-name">{{owner?.name}}</ion-text>
    </div>
    <div class="post-image">
      <img [src]="product?.image">
    </div>
    <div class="post-actions">
      <ion-icon name="bookmark-outline"></ion-icon>
      <ion-icon name="cart-outline" slot="end" (click)="addItem(product, owner)"></ion-icon>
      <!--TODO add rating stars here-->
    </div>
    <div class="post-caption">
      <p class="post-owner-name"><span class="bold">{{owner?.name}}</span>{{product?.description}}</p>
    </div>
  </div>

</ion-content>
