.post{
  padding: 0;
  .post-image {
    width: 100vw;
    height: 80vw;
    overflow: hidden;
  }
  .post-owner{
    margin: 5px 0px;
    display: flex;
    align-items: center;
    .post-owner-avatar{
      margin-left: 5px;
      height: 25px;
      width: 25px;
      border-radius: 100%;
    }
    .post-owner-name {
      padding-left: 10px;
    }
  }
  .post-actions {
    ion-icon {
      height: 30px;
      width: 30px;
      margin-left: 5px;
      margin-top: 5px;
    }
  }
  .post-caption {
    p {
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 5px;
      .bold {
        font-weight: bold;
        padding-right: 10px;
      }
    }
  }
}
