<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{category}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let store of stores" (click)="storedetails(store.id)">
      <img [src]="store?.storeImage" slot="start">
      <ion-label>{{store?.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
