<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <ion-row >
    <ion-col size="6" (click)="list('Cosmetics')">
      <ion-card class="ion-no-margin" style="background-color: #b96949 ">
        <img src="assets/cosmetics.jpg">
        <ion-card-content>
          <ion-text style="color: white">
            <h1>Cosmetics</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" (click)="list('Electronics')">
      <ion-card class="ion-no-margin" style="background-color: #656463 " >
        <img src="assets/electronic.jpg">
        <ion-card-content>
          <ion-text style="color: white">
            <h1>Electronics</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" (click)="list('Glasses')">
      <ion-card class="ion-no-margin" style="background-color: #c55eb8 " >
        <img src="assets/glasses.jpg">
        <ion-card-content>
          <ion-text style="color: white">
            <h1>Glasses</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" (click)="list('Music')">
      <ion-card class="ion-no-margin" style="background-color: #f1b900 " >
        <img src="assets/music.jpg">
        <ion-card-content>
          <ion-text style="color: white">
            <h1>Music</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" (click)="list('Outfit')">
      <ion-card class="ion-no-margin" style="background-color: #4b4b4b " >
        <img src="assets/outfits.jpg">
        <ion-card-content>
          <ion-text style="color: white">
            <h1>Outfit</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" (click)="list('Books')">
      <ion-card class="ion-no-margin" style="background-color: #bc9e78 " >
        <img src="assets/books.jpg">
        <ion-card-content>
          <ion-text style="color: white">
            <h1>Books</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" (click)="list('Bags')">
      <ion-card class="ion-no-margin" style="background-color: #d04918 " >
        <img src="assets/bags.jpg">
        <ion-card-content>
          <ion-text style="color: white">
            <h1>Bags</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col size="6" (click)="list('Shoes')">
      <ion-card class="ion-no-margin" style="background-color: #083045 " >
        <img src="assets/shoes.jpg">
        <ion-card-content>
          <ion-text style="color: white">
            <h1>Shoes</h1>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
