<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{storeData?.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div >
    <div class="store-info">
      <img [src]="storeData?.storeImage" class="store-avatar">
      <h1 class="store-name"> {{ storeData?.name }}</h1>
      <p class="store-category">{{ storeData?.category }}</p>
    </div>
    <div class="products" >
      <img [src]="this.post.image" *ngFor="let post of posts" (click)="details(post.id)">
    </div>
  </div>
</ion-content>
