<ion-header>
    <ion-toolbar color="dark">
        <ion-title>Instashop</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light" class="ion-no-padding">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div class="post" *ngFor="let product of products; let i=index">
        <div class="post-owner">
            <img [src]="owners[i]?.storeImage" class="post-owner-avatar" (click)="getDetails(product.storeId)">
            <ion-text class="post-owner-name" (click)="getDetails(product.storeId)">{{owners[i]?.name}}</ion-text>
        </div>
        <div class="post-image">
            <img [src]="product?.image">
        </div>
        <div class="post-actions">
            <ion-icon name="bookmark-outline"></ion-icon>
            <ion-icon name="cart-outline" slot="end" (click)="addItem(product, i)"></ion-icon>
              <!--TODO add rating stars here-->
        </div>
        <div class="post-caption">
            <p class="post-owner-name"><span class="bold" (click)="getDetails(product.storeId)">{{owners[i]?.name}}</span>{{product?.description}}</p>
        </div>
    </div>
</ion-content>
