.user-info{
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  .user-avatar{
    margin-left: 5px;
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }
  .user-name {
    padding-left: 10px;
  }
  p, h1{
    padding-top: 10px;
    margin: 0;
  }
}
