<ion-header>
    <ion-toolbar color="dark">
        <ion-title *ngIf="!loginStatus">Login</ion-title>
        <ion-title *ngIf="loginStatus">Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <div *ngIf="!loginStatus" class="login">
        <ion-row>
            <ion-col size="8" offset="2">
                <img src="../../assets/logo.png" class="avatar-img">
            </ion-col>

            <ion-col size="12">
                <ion-card>

                    <ion-card-header>
                        <ion-card-title style="text-align: center;">Login</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>

                        <ion-item>
                            <ion-label position="floating">Email</ion-label>
                            <ion-input type="text" [(ngModel)]="email"></ion-input>
                        </ion-item>

                        <ion-item>
                            <ion-label position="floating">Password</ion-label>
                            <ion-input type="password" [(ngModel)]="password"></ion-input>
                        </ion-item>

                        <ion-button expand="full" class="ion-margin" (click)="login()">Login</ion-button>

                        <ion-text style="text-align: center;">
                            <p>new user? <a (click)="register()">Signup</a></p>
                        </ion-text>
                    </ion-card-content>
                </ion-card>
            </ion-col>

        </ion-row>
    </div>
    <div *ngIf="loginStatus">
        <div class="user-info">
            <img src="assets/default.png" class="user-avatar" *ngIf="!accountImageCheck">
            <img [src]="imageUrl" class="user-avatar" *ngIf="accountImageCheck">
            <h1 class="user-name"> {{ userData?.username }}</h1>
            <p class="user-email">{{ user?.email }}</p>
        </div>
        <ion-list>
            <ion-item button (click)="editProfile()">
                <ion-label>Edit Profile</ion-label>
            </ion-item>
            <ion-item button (click)="store()">
                <ion-label>Your Store</ion-label>
            </ion-item>
            <ion-item button>
                <ion-label>Check Purchase History</ion-label>
            </ion-item>
            <ion-item button>
                <ion-label>Bookmarked Products</ion-label>
            </ion-item>
        </ion-list>
        <ion-button expand="full"  color="danger" (click)="logout()" slot="end"><ion-icon name="log-out-outline" slot="start"></ion-icon>Logout</ion-button>
    </div>
</ion-content>
