<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" style="margin-left: 10px; height: 20px; width: 20px" (click)="back()"></ion-icon>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  
  <ion-row>
    <ion-col size="8" offset="2">
      <img src="../../assets/logo.png"  >
    </ion-col>

    <ion-col size="12">
      <ion-card>

        <ion-card-header>
          <ion-card-title style="text-align: center;">Register</ion-card-title>
        </ion-card-header>
        <ion-card-content >

          <ion-button color="primary" expand="full" >
            <ion-icon name="logo-facebook" slot="start"></ion-icon>
            Login with Facebook
          </ion-button>

          <ion-button color="light" expand="full" (click)="googleLogin()">
            <ion-icon name="logo-google" slot="start" class="ion-padding-end"></ion-icon>
            Login with Google
          </ion-button>


          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="text" [(ngModel)]="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" [(ngModel)]="password"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input type="password" [(ngModel)]="cpassword"></ion-input>
          </ion-item>

          <ion-button expand="full" class="ion-margin" (click)="register()" >Register</ion-button>

          
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
  
</ion-content>
